@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style:  normal;
  font-weight: 400;
  src:         local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v20/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family:                   'Material Icons';
  font-weight:                   normal;
  font-style:                    normal;
  font-size:                     24px;
  line-height:                   1;
  letter-spacing:                normal;
  text-transform:                none;
  display:                       inline-block;
  white-space:                   nowrap;
  word-wrap:                     normal;
  direction:                     ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing:        antialiased;
}

.clearfix:after {
  display: block;
  clear:   both;
  content: "";
}

a {
  color: #3f51b5;
  &:visited {
    color: #7986cb;
  }
  &:focus,
  &:active,
  &:hover {
    color: #e91e63;
  }
}

.md-input-placeholder {
  color:     rgba(255, 255, 255, .38);
  font-size: 14px !important;
}

.md-input-element {
  border-bottom:  1px solid #fff !important;
  padding-bottom: 5px !important;
  font-size:      14px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  [md-card-image] {
    width: 100%;
    float: none;
    &:first-child {
      margin-top: -24px;
    }
  }
  md-card-header {
    height: auto;
  }
  .md-card-header-text {
    height: auto !important;
  }
  md-card-title {
    font-size: 16px !important;
  }
}